li{
    list-style-type: none;
}

.hero {
    //border: 1px solid black;
    ul {
        margin: 0%;
        border: 1px solid black;
        display: inline-flexbox;
        li {
            padding: 0.1em;
            //border: 1px solid red;
            justify-content: space-between;
            display: flex;
            ul {
                border: none;
                width: 100%;
                padding: 0.1em;
                justify-content: space-between;
                li {
                    justify-content: space-between;
                    //border: 1px solid gray;
                    width: 100%;
                    //width: max-content;
                    ul {
                        //border: 1px solid black;
                        width: fit-content;
                        li {
                            border: none;
                        }
                    }
                    button {
                        width: fit-content;
                        height: fit-content;
                        align-self: center;
                    }
                }
            }       
        }
    }
}

._response_wallets {
    background: green;
}