@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #F30A00;
}

body {
  background: #cfcfcf;
  margin: 0;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: #444444;
}

a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-header {
  top: 0;
  background: white;
  width: 100%;
}

.navbar-header li.current a {
  background: black;
  color: white;
  border-radius: 5em;
}

.navbar-header div {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-header div .logo {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar-header div .logo span {
  color: var(--primary-color);
}

.navbar-header div nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-header div nav a {
  color: black;
  font-size: 1em;
  padding: .1em 1em;
}

.navbar-header div nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-header div nav .primary-nav {
  padding-left: 5em;
}

.navbar-footer {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-footer nav {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-footer nav a {
  color: black;
  font-size: 1em;
  padding: .1em 1em;
}

.navbar-footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nodes div nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: .5em;
}

.nodes div nav ul li div {
  padding: .2em;
}

.nodes div nav ul li div div {
  padding: .5em;
  border: 2px solid #646464;
  border-radius: 1em;
  font-size: 0.8em;
  background: #969696;
}

.nodes div nav ul li div div div {
  border: none;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero div {
  width: 100%;
}

.blocks_nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blocks_nav ul .block_explorer {
  font-size: 1.2em;
  text-align: center;
  width: 50%;
}

.blocks_nav ul .block_explorer .block_explorer_ul {
  display: inline-table;
}

.blocks_nav ul .block_explorer .block_explorer_ul li {
  padding: 0.4em;
}

.blocks_nav ul .last_blocks {
  width: 50%;
  text-align: center;
  font-size: 1.2em;
}

.blocks_nav ul .last_blocks .last_blocks_ul {
  font-size: 0.8em;
}

.blocks_nav ul .last_blocks .last_blocks_ul div {
  width: 100%;
}

.blocks_nav ul .last_blocks .last_blocks_ul div li div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blocks_nav ul .last_blocks .last_blocks_ul div li div p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */