@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #F30A00;
}

body {
    background: #cfcfcf;
    margin: 0;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: #444444;
    &:hover {
        font-weight: bold;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-header {
    //display: none;
    //position: fixed;
    top: 0;
    background: white;
    width: 100%;
    li.current a {
        //font-size: 1.5em;
        background: black;
        color: white;
        //border: 3px solid bl;
        border-radius: 5em;
    }

    div {
        padding: 1em;
        display: flex;

        .logo {
            font-weight: bold;
            color: black;
            font-size: 1.2em;

            span {
                color: var(--primary-color);
            }
        }

        nav {
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            a {
                color: black;
                font-size: 1em;
                padding: .1em 1em;
            }
            ul {
                display: flex;
            }

            .primary-nav {
                padding-left: 5em;
            }
        }
    }
}

.navbar-footer {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 1em;
    display: flex;

    nav {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }
        ul {
            display: flex;
        }
    }
}

.nodes {
    //width: 100%;
    //top: 400;
    div {
        //background: red;
        nav {
            //width: 100%;
            //top: 100;
            //height: 100%;
            //background: red;
            ul {
                display: flex;
                flex-wrap: wrap;
                padding: .5em;
                li {
                    div {
                        padding: .2em;
                        div {
                            //width: 100;
                            //background: gray;
                            padding: .5em;
                            border: 2px solid rgb(100, 100, 100);
                            border-radius: 1em;
                            font-size: 0.8em;
                            background: rgb(150, 150, 150);
                            div {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
        width: 100%;
    }
}

.blocks_nav {
    width: 100%;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .block_explorer {
            font-size: 1.2em;
            text-align: center;
            width: 50%;
            .block_explorer_ul {
                display: inline-table;
                li {
                    padding: 0.4em;                    
                }
                
                //padding-top: 1em;
                //font-size: 1.2em;
                //margin: 1em;
            }
        }
        
        .last_blocks {
            width: 50%;
            text-align: center;
            font-size: 1.2em;
            //display: inline-flex;
            .last_blocks_ul {
                font-size: 0.8em;
                div {
                    width: 100%;
                    li {
                        div {
                            display: inline-flex;
                            justify-content: space-evenly;
                            p {
                                //width: 10em;
                                text-align: center;
                                //font-size: auto;
                                //padding: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
